name: CI

on: 
  push:
    branches:
      - main
      - "*.x"
  pull_request:
    branches:
      - main
      - "*.x"

jobs:
  tests:
    name: PHP ${{ matrix.php }} Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.1', '8.2']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit
